Repository umgefahren/server-language-benchmark, pull requests merged in 2022-04, with the labels that each got.

#19 Add Dockerfile for Swift
  Swift/.dockerignore
  Swift/Dockerfile
  Swift/README.md
  Swift/Sources/ServerBenchmark/Main.swift
Labels: Swift

#12 now the client idles and busy waits if he cannot connect to server
  client/src/benchmark.rs
  client/src/main.rs
Labels: issue-fix

#15 Add Dockerfile for Ruby
  Ruby/Dockerfile
  Ruby/Dockerfile-yjit
Labels: Ruby

#14 Dockerfile for Python and Pypy
  Python/Dockerfile
  Python/Dockerfile-pypy
Labels: Python

#13 Dockerize rust
  Rust/Dockerfile
Labels: enhancement, Rust, waiting-for-review

#21 Add crystal dockerfile
  Crystal/Dockerfile
Labels: enhancement, Crystal

#20 Specify implementation details
  IMPLEMENTATION.md
  README.md
Labels: spec

#56 Bring go implementation up to date
  .gitignore
  go/bigstore.go
  go/main.go
  go/parser.go
  go/server.go
  go/store.go
Labels: Go

#45 Improve the client's waiting routine
  client/src/main.rs
Labels: waiting-for-review, Client

#42 Dart
  Dart/.dockerignore
  Dart/.gitignore
  Dart/CHANGELOG.md
  Dart/Dockerfile
  Dart/README.md
  Dart/analysis_options.yaml
  Dart/bin/server_bench.dart
  Dart/pubspec.lock
  Dart/pubspec.yaml
Labels: Dart

#43 Add script to run all benchmarks with docker
  run_benchmarks.py
Labels: enhancement

#63 Implement full spec in Deno
  CONTRIBUTERS.txt
  Deno/Dockerfile
  Deno/mod.ts
  Deno/src/constants.ts
  Deno/src/handlers.ts
  Deno/src/helpers.ts
  Deno/src/middleware.ts
  Deno/src/server.ts
  Deno/src/types.ts
Labels: JavaScript, TypeScript

#69 Spec revamp
  SPEC.md
Labels: important, waiting-for-review

#68 Update crystal implementation to current spec
  Crystal/src/blobstorage.cr
  Crystal/src/dump.cr
  Crystal/src/hashmap.cr
  Crystal/src/main.cr
  Crystal/src/server.cr
Labels: Crystal
